        \begin{longtable}{|p{3cm}|p{8.3cm}|}
            \hline
            \textbf{Bulletin} & \textbf{${bulletin}} \\\hline
            \textbf{Description} & ${description} \\\hline
            \textbf{Severity} & ${severity} \\\hline
            \textbf{Affected} & ${affected} \\\hline
            \textbf{Links} & ${links} \\\hline
            \textbf{Type} & ${type_info} \\\hline
            \textbf{Patch} & ${patch} \\\hline
        \end{longtable}
