*ID:* {{ cve }}
*From:* {{ vendor }} - {{ bulletin }}
*Title:* {{ header }}
*Descr:* {{ description }}{% if reported %}
*Reported:* {{ reported }}{% endif %}{% if affected %}
*Affected:* {{ affected }}{% endif %}{% if severity %}
*Severity:* {{ severity }}{% endif %}{% if weakness %}
*Weakness:* {{ weakness }}{% endif %}{% if patch %}
*Patch:* {{ patch }}{% endif %}{% if links %}
*Links:* {{ links }}{% endif %}
