<b>ID:</b> {{ cve }}
<b>From:</b> {{ vendor }} - {{ bulletin }}
<b>Title:</b> {{ header }}
<b>Descr:</b> {{ description }}{% if reported %}
<b>Reported:</b> {{ reported }}{% endif %}{% if affected %}
<b>Affected:</b> {{ affected }}{% endif %}{% if severity %}
<b>Severity:</b> {{ severity }}{% endif %}{% if weakness %}
<b>Weakness:</b> {{ weakness }}{% endif %}{% if patch %}
<b>Patch:</b> {{ patch }}{% endif %}{% if links %}
<b>Links:</b> {{ links }}{% endif %}{% if component %}
<b>Component:</b> {{ component }}{% endif %}
